/* CSS HEX 

--pink-lace: #f2d7eeff;
--silver-pink: #d3bcc0ff;
--antique-fuchsia: #a5668bff;
--palatinate-purple: #69306dff;
--russian-violet: #0e103dff;
*/

.card-image {
  display: block;
  background: #fff center center no-repeat;
  background-size: cover;
}

.card-image > img {
  display: block;
  width: 100%;
  opacity: 0; /* visually hide the img element */
}

#sunfireImage {
  background-image: url('/Sunfire-logo.jpg');
}
#airbnbImage {
  background-image: url('/airbnb-logo-red.jpg');
}
#CAJOfficialLogo {
  background-image: url('/js-AR-official-logo.jpg');
}
#momentDatepickerImage {
  background-image: url('/npm-logo.png');
}
#githubImage {
  background-image: url('/github-logo.png');
}
#linkedInImage {
  background-image: url('/LinkedIn_logo_initials.png');
}

#githubProfilePic {
  background-image: url('https://avatars.githubusercontent.com/u/33035056?v=4');
}
/* Layout Styles */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

.card-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  text-align: center;
  list-style: none;
  z-index: 999;
}

.card {
  display: inline-block;
  width: 90%;
  max-width: 20rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  z-index: 9999;
}

.card:hover {
  transform: translateY(-0.5rem) scale(1.0125);
  box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-description {
  display: block;
  padding: 1em 0.5em;
  color: #515151;
  text-decoration: none;
}

.card-description > h2 {
  margin: 0 0 0.5em;
}

.card-description > p {
  margin: 0;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (min-width: 992px) {
  .card-list {
    max-width: 1200px;
  }
  .right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
  }
  .left {
    position: absolute;
    left: 0px;
    width: 300px;
    padding: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .headerText {
    display: none;
    position: fixed;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
    color: #0e103dff;
  }
}
.headerText {
  position: absolute;
  top: 50%;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  color: #0e103dff;
}

header {
  position:sticky;
  top: 0;
  width: 100%;
  height: 240px;
  display: flex;
  background-color:#d3bcc0ff;
  justify-content: left;
  align-items: left;
  z-index: 9999;
}

h1 {
  margin-bottom: 0px;
  font-family: Liberation Mono, Monaco, Courier New, monospace;
  color: purple;
}

